--
-- PostgreSQL database dump
--

\restrict NSYah4CdgceiJkfxSvSKlmwYfb5k7InMNjinoTgd355cAf0I66AvgZ8dDOkr6xK

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: avis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.avis (
    id integer NOT NULL,
    reservation_id integer,
    etudiant_id integer,
    prof_id integer,
    note integer NOT NULL,
    commentaire text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT avis_note_check CHECK (((note >= 1) AND (note <= 5)))
);


ALTER TABLE public.avis OWNER TO postgres;

--
-- Name: avis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.avis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.avis_id_seq OWNER TO postgres;

--
-- Name: avis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.avis_id_seq OWNED BY public.avis.id;


--
-- Name: certificats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certificats (
    id integer NOT NULL,
    prof_id integer,
    titre character varying(200) NOT NULL,
    description text,
    fichier_url character varying(255)
);


ALTER TABLE public.certificats OWNER TO postgres;

--
-- Name: certificats_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.certificats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.certificats_id_seq OWNER TO postgres;

--
-- Name: certificats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.certificats_id_seq OWNED BY public.certificats.id;


--
-- Name: conversations_chat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations_chat (
    id integer NOT NULL,
    etudiant_id integer,
    role character varying(10),
    message text NOT NULL,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.conversations_chat OWNER TO postgres;

--
-- Name: conversations_chat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conversations_chat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_chat_id_seq OWNER TO postgres;

--
-- Name: conversations_chat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conversations_chat_id_seq OWNED BY public.conversations_chat.id;


--
-- Name: demandes_matieres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.demandes_matieres (
    id integer NOT NULL,
    prof_id integer,
    niveau_id integer,
    nom_matiere character varying(150) NOT NULL,
    statut character varying(20),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.demandes_matieres OWNER TO postgres;

--
-- Name: demandes_matieres_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.demandes_matieres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.demandes_matieres_id_seq OWNER TO postgres;

--
-- Name: demandes_matieres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.demandes_matieres_id_seq OWNED BY public.demandes_matieres.id;


--
-- Name: disponibilites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disponibilites (
    id integer NOT NULL,
    prof_id integer,
    date_specifique date,
    jour_semaine integer,
    heure_debut time without time zone NOT NULL,
    heure_fin time without time zone NOT NULL,
    nb_max_etudiants integer,
    nb_inscrits integer,
    actif boolean,
    created_at timestamp with time zone DEFAULT now(),
    mode_seance character varying(20) DEFAULT 'presentiel'::character varying,
    lien_meet character varying(500)
);


ALTER TABLE public.disponibilites OWNER TO postgres;

--
-- Name: disponibilites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.disponibilites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.disponibilites_id_seq OWNER TO postgres;

--
-- Name: disponibilites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.disponibilites_id_seq OWNED BY public.disponibilites.id;


--
-- Name: domaines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.domaines (
    id integer NOT NULL,
    nom character varying(100) NOT NULL
);


ALTER TABLE public.domaines OWNER TO postgres;

--
-- Name: domaines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.domaines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.domaines_id_seq OWNER TO postgres;

--
-- Name: domaines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.domaines_id_seq OWNED BY public.domaines.id;


--
-- Name: etudiants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etudiants (
    id integer NOT NULL,
    user_id integer,
    ville character varying(50),
    niveau character varying(50),
    telephone character varying(20),
    bio text,
    created_at timestamp with time zone DEFAULT now(),
    photo_url character varying(500)
);


ALTER TABLE public.etudiants OWNER TO postgres;

--
-- Name: etudiants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.etudiants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.etudiants_id_seq OWNER TO postgres;

--
-- Name: etudiants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.etudiants_id_seq OWNED BY public.etudiants.id;


--
-- Name: matieres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matieres (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    niveau_id integer,
    actif boolean
);


ALTER TABLE public.matieres OWNER TO postgres;

--
-- Name: matieres_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.matieres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.matieres_id_seq OWNER TO postgres;

--
-- Name: matieres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.matieres_id_seq OWNED BY public.matieres.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    reservation_id integer,
    expediteur_id integer,
    destinataire_id integer,
    contenu text,
    fichier_url character varying(500),
    fichier_nom character varying(255),
    fichier_type character varying(50),
    lu boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: niveaux; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.niveaux (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    ordre integer,
    domaine_id integer
);


ALTER TABLE public.niveaux OWNER TO postgres;

--
-- Name: niveaux_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.niveaux_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.niveaux_id_seq OWNER TO postgres;

--
-- Name: niveaux_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.niveaux_id_seq OWNED BY public.niveaux.id;


--
-- Name: preferences_etudiant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.preferences_etudiant (
    id integer NOT NULL,
    etudiant_id integer,
    matiere_id integer,
    niveau_id integer,
    ville character varying(50),
    budget_max numeric(8,2),
    disponibilite character varying(100),
    priorite_note boolean,
    priorite_prix boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.preferences_etudiant OWNER TO postgres;

--
-- Name: preferences_etudiant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.preferences_etudiant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.preferences_etudiant_id_seq OWNER TO postgres;

--
-- Name: preferences_etudiant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.preferences_etudiant_id_seq OWNED BY public.preferences_etudiant.id;


--
-- Name: prof_matiere_tarif; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prof_matiere_tarif (
    prof_id integer NOT NULL,
    matiere_id integer NOT NULL,
    niveau_id integer NOT NULL,
    tarif numeric(8,2) NOT NULL
);


ALTER TABLE public.prof_matiere_tarif OWNER TO postgres;

--
-- Name: prof_niveaux; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prof_niveaux (
    prof_id integer NOT NULL,
    niveau_id integer NOT NULL
);


ALTER TABLE public.prof_niveaux OWNER TO postgres;

--
-- Name: professeurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.professeurs (
    id integer NOT NULL,
    user_id integer,
    bio text,
    description text,
    ville character varying(50),
    photo_url character varying(255),
    telephone character varying(20),
    note_moyenne numeric(3,2),
    nb_avis integer,
    statut_validation character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    mode_enseignement character varying(20) DEFAULT 'presentiel'::character varying,
    tarif_en_ligne numeric(8,2),
    tarif_presentiel numeric(8,2)
);


ALTER TABLE public.professeurs OWNER TO postgres;

--
-- Name: professeurs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.professeurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professeurs_id_seq OWNER TO postgres;

--
-- Name: professeurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.professeurs_id_seq OWNED BY public.professeurs.id;


--
-- Name: reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservations (
    id integer NOT NULL,
    etudiant_id integer,
    prof_id integer,
    disponibilite_id integer,
    date_cours date NOT NULL,
    heure_debut time without time zone NOT NULL,
    heure_fin time without time zone NOT NULL,
    statut character varying(20),
    tarif_applique numeric(8,2),
    notes_etudiant text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    mode_seance character varying(20) DEFAULT 'presentiel'::character varying,
    lien_meet character varying(500)
);


ALTER TABLE public.reservations OWNER TO postgres;

--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reservations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservations_id_seq OWNER TO postgres;

--
-- Name: reservations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reservations_id_seq OWNED BY public.reservations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    prenom character varying(100),
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    date_naissance date,
    statut character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: villes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.villes (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    actif boolean
);


ALTER TABLE public.villes OWNER TO postgres;

--
-- Name: villes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.villes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.villes_id_seq OWNER TO postgres;

--
-- Name: villes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.villes_id_seq OWNED BY public.villes.id;


--
-- Name: avis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis ALTER COLUMN id SET DEFAULT nextval('public.avis_id_seq'::regclass);


--
-- Name: certificats id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificats ALTER COLUMN id SET DEFAULT nextval('public.certificats_id_seq'::regclass);


--
-- Name: conversations_chat id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations_chat ALTER COLUMN id SET DEFAULT nextval('public.conversations_chat_id_seq'::regclass);


--
-- Name: demandes_matieres id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandes_matieres ALTER COLUMN id SET DEFAULT nextval('public.demandes_matieres_id_seq'::regclass);


--
-- Name: disponibilites id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disponibilites ALTER COLUMN id SET DEFAULT nextval('public.disponibilites_id_seq'::regclass);


--
-- Name: domaines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.domaines ALTER COLUMN id SET DEFAULT nextval('public.domaines_id_seq'::regclass);


--
-- Name: etudiants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiants ALTER COLUMN id SET DEFAULT nextval('public.etudiants_id_seq'::regclass);


--
-- Name: matieres id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matieres ALTER COLUMN id SET DEFAULT nextval('public.matieres_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: niveaux id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niveaux ALTER COLUMN id SET DEFAULT nextval('public.niveaux_id_seq'::regclass);


--
-- Name: preferences_etudiant id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preferences_etudiant ALTER COLUMN id SET DEFAULT nextval('public.preferences_etudiant_id_seq'::regclass);


--
-- Name: professeurs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professeurs ALTER COLUMN id SET DEFAULT nextval('public.professeurs_id_seq'::regclass);


--
-- Name: reservations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations ALTER COLUMN id SET DEFAULT nextval('public.reservations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: villes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.villes ALTER COLUMN id SET DEFAULT nextval('public.villes_id_seq'::regclass);


--
-- Data for Name: avis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.avis (id, reservation_id, etudiant_id, prof_id, note, commentaire, created_at) FROM stdin;
\.


--
-- Data for Name: certificats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.certificats (id, prof_id, titre, description, fichier_url) FROM stdin;
5	16	Master en Math├®matiques	Universit├® de Sousse	\N
6	17	Licence en Fran├ºais	Facult├® des Lettres de Sfax	\N
\.


--
-- Data for Name: conversations_chat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations_chat (id, etudiant_id, role, message, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: demandes_matieres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.demandes_matieres (id, prof_id, niveau_id, nom_matiere, statut, created_at) FROM stdin;
\.


--
-- Data for Name: disponibilites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.disponibilites (id, prof_id, date_specifique, jour_semaine, heure_debut, heure_fin, nb_max_etudiants, nb_inscrits, actif, created_at, mode_seance, lien_meet) FROM stdin;
27	16	2026-04-07	\N	10:00:00	12:00:00	5	0	t	2026-04-05 20:08:03.511818+01	presentiel	\N
28	17	2026-04-06	\N	14:00:00	16:00:00	3	0	t	2026-04-05 20:08:03.511818+01	en_ligne	\N
\.


--
-- Data for Name: domaines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.domaines (id, nom) FROM stdin;
3	Sciences
4	Domaine academique
\.


--
-- Data for Name: etudiants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.etudiants (id, user_id, ville, niveau, telephone, bio, created_at, photo_url) FROM stdin;
1	3	Tunis	Baccalaur├®at	\N	\N	2026-03-08 12:52:44.656986+01	\N
3	5	\N	\N	94285804	\N	2026-03-08 14:00:25.408958+01	\N
4	10	Ben Arous	Coll├¿ge	27752377		2026-03-09 00:07:24.415126+01	\N
5	12	\N	\N	\N	\N	2026-03-24 12:22:10.709182+01	\N
2	4	Tunis	Coll├¿ge	27752377		2026-03-08 13:14:06.456232+01	\N
6	13	\N	\N	\N	\N	2026-04-05 05:09:19.63241+01	\N
\.


--
-- Data for Name: matieres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.matieres (id, nom, niveau_id, actif) FROM stdin;
27	Math├®matiques	6	t
28	Fran├ºais	7	t
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (id, reservation_id, expediteur_id, destinataire_id, contenu, fichier_url, fichier_nom, fichier_type, lu, created_at) FROM stdin;
\.


--
-- Data for Name: niveaux; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.niveaux (id, nom, ordre, domaine_id) FROM stdin;
6	Baccalaur├®at	\N	3
7	Primaire	\N	3
\.


--
-- Data for Name: preferences_etudiant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.preferences_etudiant (id, etudiant_id, matiere_id, niveau_id, ville, budget_max, disponibilite, priorite_note, priorite_prix, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: prof_matiere_tarif; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prof_matiere_tarif (prof_id, matiere_id, niveau_id, tarif) FROM stdin;
16	27	6	25.00
17	28	7	22.00
\.


--
-- Data for Name: prof_niveaux; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prof_niveaux (prof_id, niveau_id) FROM stdin;
\.


--
-- Data for Name: professeurs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.professeurs (id, user_id, bio, description, ville, photo_url, telephone, note_moyenne, nb_avis, statut_validation, created_at, mode_enseignement, tarif_en_ligne, tarif_presentiel) FROM stdin;
16	24	Expert en Math├®matiques pour le Bac. 10 ans d'exp├®rience.	\N	Sousse	\N	+216 98765432	4.80	1	valid├®	2026-04-05 20:08:03.511818+01	les_deux	20.00	25.00
17	25	J'enseigne le fran├ºais pour tous les niveaux, y compris la 5├¿me ann├®e primaire.	\N	Sfax	\N	+216 22334455	5.00	12	valid├®	2026-04-05 20:08:03.511818+01	les_deux	20.00	35.00
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservations (id, etudiant_id, prof_id, disponibilite_id, date_cours, heure_debut, heure_fin, statut, tarif_applique, notes_etudiant, created_at, updated_at, mode_seance, lien_meet) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: villes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.villes (id, nom, actif) FROM stdin;
1	Tunis	t
2	Sfax	t
3	Sousse	t
4	Monastir	t
\.


--
-- Name: avis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.avis_id_seq', 1, true);


--
-- Name: certificats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.certificats_id_seq', 6, true);


--
-- Name: conversations_chat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversations_chat_id_seq', 1, false);


--
-- Name: demandes_matieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.demandes_matieres_id_seq', 4, true);


--
-- Name: disponibilites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.disponibilites_id_seq', 28, true);


--
-- Name: domaines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.domaines_id_seq', 4, true);


--
-- Name: etudiants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.etudiants_id_seq', 6, true);


--
-- Name: matieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.matieres_id_seq', 28, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 7, true);


--
-- Name: niveaux_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.niveaux_id_seq', 7, true);


--
-- Name: preferences_etudiant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.preferences_etudiant_id_seq', 1, false);


--
-- Name: professeurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.professeurs_id_seq', 17, true);


--
-- Name: reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservations_id_seq', 10, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 25, true);


--
-- Name: villes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.villes_id_seq', 8, true);


--
-- Name: avis avis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis
    ADD CONSTRAINT avis_pkey PRIMARY KEY (id);


--
-- Name: avis avis_reservation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis
    ADD CONSTRAINT avis_reservation_id_key UNIQUE (reservation_id);


--
-- Name: certificats certificats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificats
    ADD CONSTRAINT certificats_pkey PRIMARY KEY (id);


--
-- Name: conversations_chat conversations_chat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations_chat
    ADD CONSTRAINT conversations_chat_pkey PRIMARY KEY (id);


--
-- Name: demandes_matieres demandes_matieres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandes_matieres
    ADD CONSTRAINT demandes_matieres_pkey PRIMARY KEY (id);


--
-- Name: disponibilites disponibilites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disponibilites
    ADD CONSTRAINT disponibilites_pkey PRIMARY KEY (id);


--
-- Name: domaines domaines_nom_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.domaines
    ADD CONSTRAINT domaines_nom_key UNIQUE (nom);


--
-- Name: domaines domaines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.domaines
    ADD CONSTRAINT domaines_pkey PRIMARY KEY (id);


--
-- Name: etudiants etudiants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiants
    ADD CONSTRAINT etudiants_pkey PRIMARY KEY (id);


--
-- Name: etudiants etudiants_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiants
    ADD CONSTRAINT etudiants_user_id_key UNIQUE (user_id);


--
-- Name: matieres matieres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matieres
    ADD CONSTRAINT matieres_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: niveaux niveaux_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niveaux
    ADD CONSTRAINT niveaux_pkey PRIMARY KEY (id);


--
-- Name: preferences_etudiant preferences_etudiant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preferences_etudiant
    ADD CONSTRAINT preferences_etudiant_pkey PRIMARY KEY (id);


--
-- Name: prof_matiere_tarif prof_matiere_tarif_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_matiere_tarif
    ADD CONSTRAINT prof_matiere_tarif_pkey PRIMARY KEY (prof_id, matiere_id, niveau_id);


--
-- Name: prof_niveaux prof_niveaux_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_niveaux
    ADD CONSTRAINT prof_niveaux_pkey PRIMARY KEY (prof_id, niveau_id);


--
-- Name: professeurs professeurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professeurs
    ADD CONSTRAINT professeurs_pkey PRIMARY KEY (id);


--
-- Name: professeurs professeurs_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professeurs
    ADD CONSTRAINT professeurs_user_id_key UNIQUE (user_id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: villes villes_nom_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.villes
    ADD CONSTRAINT villes_nom_key UNIQUE (nom);


--
-- Name: villes villes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.villes
    ADD CONSTRAINT villes_pkey PRIMARY KEY (id);


--
-- Name: idx_msg_dest; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_msg_dest ON public.messages USING btree (destinataire_id);


--
-- Name: idx_msg_resa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_msg_resa ON public.messages USING btree (reservation_id);


--
-- Name: ix_avis_etudiant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_avis_etudiant_id ON public.avis USING btree (etudiant_id);


--
-- Name: ix_avis_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_avis_id ON public.avis USING btree (id);


--
-- Name: ix_avis_prof_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_avis_prof_id ON public.avis USING btree (prof_id);


--
-- Name: ix_certificats_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_certificats_id ON public.certificats USING btree (id);


--
-- Name: ix_conversations_chat_etudiant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversations_chat_etudiant_id ON public.conversations_chat USING btree (etudiant_id);


--
-- Name: ix_conversations_chat_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_conversations_chat_id ON public.conversations_chat USING btree (id);


--
-- Name: ix_demandes_matieres_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_demandes_matieres_id ON public.demandes_matieres USING btree (id);


--
-- Name: ix_demandes_matieres_prof_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_demandes_matieres_prof_id ON public.demandes_matieres USING btree (prof_id);


--
-- Name: ix_disponibilites_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_disponibilites_id ON public.disponibilites USING btree (id);


--
-- Name: ix_disponibilites_prof_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_disponibilites_prof_id ON public.disponibilites USING btree (prof_id);


--
-- Name: ix_domaines_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_domaines_id ON public.domaines USING btree (id);


--
-- Name: ix_etudiants_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_etudiants_id ON public.etudiants USING btree (id);


--
-- Name: ix_matieres_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_matieres_id ON public.matieres USING btree (id);


--
-- Name: ix_niveaux_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_niveaux_id ON public.niveaux USING btree (id);


--
-- Name: ix_preferences_etudiant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_preferences_etudiant_id ON public.preferences_etudiant USING btree (id);


--
-- Name: ix_professeurs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_professeurs_id ON public.professeurs USING btree (id);


--
-- Name: ix_professeurs_statut_validation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_professeurs_statut_validation ON public.professeurs USING btree (statut_validation);


--
-- Name: ix_professeurs_ville; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_professeurs_ville ON public.professeurs USING btree (ville);


--
-- Name: ix_reservations_etudiant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reservations_etudiant_id ON public.reservations USING btree (etudiant_id);


--
-- Name: ix_reservations_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reservations_id ON public.reservations USING btree (id);


--
-- Name: ix_reservations_prof_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reservations_prof_id ON public.reservations USING btree (prof_id);


--
-- Name: ix_reservations_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reservations_statut ON public.reservations USING btree (statut);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_villes_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_villes_id ON public.villes USING btree (id);


--
-- Name: avis avis_etudiant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis
    ADD CONSTRAINT avis_etudiant_id_fkey FOREIGN KEY (etudiant_id) REFERENCES public.etudiants(id);


--
-- Name: avis avis_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis
    ADD CONSTRAINT avis_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id);


--
-- Name: avis avis_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avis
    ADD CONSTRAINT avis_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id);


--
-- Name: certificats certificats_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificats
    ADD CONSTRAINT certificats_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: conversations_chat conversations_chat_etudiant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations_chat
    ADD CONSTRAINT conversations_chat_etudiant_id_fkey FOREIGN KEY (etudiant_id) REFERENCES public.etudiants(id) ON DELETE CASCADE;


--
-- Name: demandes_matieres demandes_matieres_niveau_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandes_matieres
    ADD CONSTRAINT demandes_matieres_niveau_id_fkey FOREIGN KEY (niveau_id) REFERENCES public.niveaux(id) ON DELETE CASCADE;


--
-- Name: demandes_matieres demandes_matieres_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.demandes_matieres
    ADD CONSTRAINT demandes_matieres_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: disponibilites disponibilites_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disponibilites
    ADD CONSTRAINT disponibilites_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: etudiants etudiants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etudiants
    ADD CONSTRAINT etudiants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: matieres matieres_niveau_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matieres
    ADD CONSTRAINT matieres_niveau_id_fkey FOREIGN KEY (niveau_id) REFERENCES public.niveaux(id) ON DELETE CASCADE;


--
-- Name: messages messages_destinataire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_destinataire_id_fkey FOREIGN KEY (destinataire_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_expediteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_expediteur_id_fkey FOREIGN KEY (expediteur_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id) ON DELETE CASCADE;


--
-- Name: niveaux niveaux_domaine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.niveaux
    ADD CONSTRAINT niveaux_domaine_id_fkey FOREIGN KEY (domaine_id) REFERENCES public.domaines(id) ON DELETE CASCADE;


--
-- Name: preferences_etudiant preferences_etudiant_etudiant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preferences_etudiant
    ADD CONSTRAINT preferences_etudiant_etudiant_id_fkey FOREIGN KEY (etudiant_id) REFERENCES public.etudiants(id) ON DELETE CASCADE;


--
-- Name: preferences_etudiant preferences_etudiant_matiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preferences_etudiant
    ADD CONSTRAINT preferences_etudiant_matiere_id_fkey FOREIGN KEY (matiere_id) REFERENCES public.matieres(id);


--
-- Name: preferences_etudiant preferences_etudiant_niveau_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.preferences_etudiant
    ADD CONSTRAINT preferences_etudiant_niveau_id_fkey FOREIGN KEY (niveau_id) REFERENCES public.niveaux(id);


--
-- Name: prof_matiere_tarif prof_matiere_tarif_matiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_matiere_tarif
    ADD CONSTRAINT prof_matiere_tarif_matiere_id_fkey FOREIGN KEY (matiere_id) REFERENCES public.matieres(id) ON DELETE CASCADE;


--
-- Name: prof_matiere_tarif prof_matiere_tarif_niveau_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_matiere_tarif
    ADD CONSTRAINT prof_matiere_tarif_niveau_id_fkey FOREIGN KEY (niveau_id) REFERENCES public.niveaux(id) ON DELETE CASCADE;


--
-- Name: prof_matiere_tarif prof_matiere_tarif_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_matiere_tarif
    ADD CONSTRAINT prof_matiere_tarif_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: prof_niveaux prof_niveaux_niveau_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_niveaux
    ADD CONSTRAINT prof_niveaux_niveau_id_fkey FOREIGN KEY (niveau_id) REFERENCES public.niveaux(id) ON DELETE CASCADE;


--
-- Name: prof_niveaux prof_niveaux_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prof_niveaux
    ADD CONSTRAINT prof_niveaux_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: professeurs professeurs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professeurs
    ADD CONSTRAINT professeurs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reservations reservations_disponibilite_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_disponibilite_id_fkey FOREIGN KEY (disponibilite_id) REFERENCES public.disponibilites(id);


--
-- Name: reservations reservations_etudiant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_etudiant_id_fkey FOREIGN KEY (etudiant_id) REFERENCES public.etudiants(id) ON DELETE CASCADE;


--
-- Name: reservations reservations_prof_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_prof_id_fkey FOREIGN KEY (prof_id) REFERENCES public.professeurs(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict NSYah4CdgceiJkfxSvSKlmwYfb5k7InMNjinoTgd355cAf0I66AvgZ8dDOkr6xK

